h6 {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
}
h3 {

	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.3px;
}

.heygov-apps-banner-wrapper {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.heygov-apps-banner {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.heygov-apps-banner-image {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 !important;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.heygov-apps-banner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin: 0 !important;
}

.heygov-apps-banner-image-big {
	display: none;
	height: 90px;
}

.heygov-apps-banner-links {
	width: 100%;
	border-radius: 10px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

.heygov-apps-banner-links .heygov-link-ios,
.heygov-apps-banner-links .heygov-link-android {
	display: inline-block;
	margin: 0;
	padding: 0;

}

.heygov-apps-banner-links .heygov-link-ios {
	margin-bottom: 5px;
}

.heygov-apps-banner-links img {
	height: 40px;
	width: auto;
}

@media (min-width: 600px) {
	.heygov-apps-banner-image {
		margin-bottom: 0;
	}

	.heygov-apps-banner-links {
		flex: 0 0 150px;
		max-width: 150px;
	}

	.heygov-apps-banner-image-small {
		display: none;
	}

	.heygov-apps-banner-image-big {
		display: inline;
	}

	.heygov-apps-banner-links img {
		height: auto;
		width: 125px;
	}
}
.heygov-row {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:calc(100% + 20px);
	margin:0 -10px 5px; 
}

.heygov-col { 
	display:flex;  
	flex-direction:column;
    flex-basis:100%;
	flex:1;  
    padding-left:10px;
	padding-right:10px;  
}

.heygov-row-cols-2 {
	flex: 0 0 auto; 
	width: 50%; 
}
.heygov-justify-content-center {
	justify-content:center; 
}
@media (min-width: 992px) {
	.heygov-row-cols-lg-4 {
		flex: 0 0 auto; 
		width: 20%!important; 
	}
}
@media (min-width: 768px) {
	.heygov-row-cols-md-3 {
		flex: 0 0 auto; 
		width: 33.333%; 
	}
}   
.heygov-mb-3 {
	margin-bottom: 1.5rem!important;
}
.heygov-p-1 {
	padding: 0.5rem!important;
}
.heygov-p-2 {
	padding: 1rem!important;
}

.heygov-p-3 {
	padding: 1.5rem!important;
}
.heygov-pt-3 {
	padding-top: 1.5rem!important;
}
.heygov-my-2 {
	margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.heygov-m-2 {
	margin: 0.5rem!important;
}
.heygov-mx-2 {
	margin-left: 1rem!important;
    margin-right: 1rem!important;
}
.heygov-mx-1 {
	margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
}
.heygov-px-3 {
	padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.heygov-card {
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
	transition:  0px 2px 10px rgba(0, 0, 0, 0.1) 0.2s ease-in-out;
	border-radius: 30px;
	overflow: hidden;
	width: 100%; 
}

.heygov-card-header {
	border-radius: 30px 30px 0 0;
	padding: 1rem 1.5rem;
}

.heygov-card-body {
	padding: 1rem; 
}

.heygov-card-footer {
	border-color: gray;
	border-top-width: 1px;
	background-color: #fff;
	font-size: 0.9rem;
	border-radius: 0 0 30px 30px;
	padding: 1rem 1.5rem;
}

.heygov-card-title {
	margin-bottom: 0.5rem; 
	position: relative;
}
.heygov-border-1 {
	border-width: 0.5px!important;
}
.heygov-text-dark {
	color: black; 
	text-decoration: none;
}
.heygov-text-dark:hover {
	color: black;
}

.heygov-ratio {
	position: relative;
	width: 100%; 
} 
.heygov-ratio-1x1 {
	aspect-ratio: 1/1;
}

.heygov-card-form {
	overflow: hidden;
} 

.heygov-card.has-icon {
	background-color: rgba(224, 224, 224, 0.4);
}
.heygov-card.has-department {
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.heygov-card .heygov-form-price {
	position: absolute;
	bottom: 1rem;
}

.heygov-card-form .heygov-card-body .heygov-form-icon {
	right: -1rem!important; 
	top: -0.4rem; 
    position: absolute; 
    left: auto;
    color: #e0e0e0;
    opacity: 0.5;
    overflow: hidden;
	font-size: 120px; 
}


@media (max-width: 575.98px) {
	.heygov-card-form .heygov-form-icon {
		width: 7rem;
	}
}
